.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 257px;
    margin-left: 100px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
    
  }
  
  .bowser {
    width: 200px;
  
  }
